In [1]:
import pandas as pd

result={
    "Name":["Operating Systems","Machine Learning","Data Science","Artificial Neural Network","Computer Vision"],
    "Marks":[98,98,96,95,97],
    "Grades":["S","S","A","S","A"]
}

result=pd.DataFrame(result)
result

                        Name  Marks Grades
0          Operating Systems     98      S
1           Machine Learning     98      S
2               Data Science     96      A
3  Artificial Neural Network     95      S
4            Computer Vision     97      A

In [2]:
#using filter , suppose I want to filter subjects in which there are S grades

filt = (result['Grades'] == 'S')
result[filt]

                        Name  Marks Grades
0          Operating Systems     98      S
1           Machine Learning     98      S
3  Artificial Neural Network     95      S

In [3]:
result.loc[filt,['Marks','Name']]    #filtered onn what marks S grades are given and in which subject

   Marks                       Name
0     98          Operating Systems
1     98           Machine Learning
3     95  Artificial Neural Network

In [5]:
#putting some more conditions 

filt = (result['Grades']=='S') & (result['Marks']>95)
result[filt]

                Name  Marks Grades
0  Operating Systems     98      S
1   Machine Learning     98      S

In [28]:
# now back to our original dataset

df=pd.read_csv('survey_results_public.csv',index_col='Respondent')
schema=pd.read_csv('survey_results_schema.csv',index_col='Column')
pd.set_option('display.max_rows',85)

#now applying some filter , lets check salary >30000, for that we can look schema salary column exists or not
# so we came through that salary is with name 


schema

                                                             QuestionText
Column
Respondent              Randomized respondent ID number (not in order ...
MainBranch              Which of the following options best describes ...
Hobbyist                                          Do you code as a hobby?
OpenSourcer                   How often do you contribute to open source?
OpenSource              How do you feel about the quality of open sour...
Employment              Which of the following best describes your cur...
Country                         In which country do you currently reside?
Student                 Are you currently enrolled in a formal, degree...
EdLevel                 Which of the following best describes the high...
UndergradMajor          What was your main or most important field of ...
EduOther                Which of the following types of non-degree edu...
OrgSize                 Approximately how many people are employed by ...
DevType                 Which of the following describe you? Please se...
YearsCode               Including any education, how many years have y...
Age1stCode              At what age did you write your first line of c...
YearsCodePro            How many years have you coded professionally (...
CareerSat               Overall, how satisfied are you with your caree...
JobSat                  How satisfied are you with your current job? (...
MgrIdiot                How confident are you that your manager knows ...
MgrMoney                Do you believe that you need to be a manager t...
MgrWant                 Do you want to become a manager yourself in th...
JobSeek                 Which of the following best describes your cur...
LastHireDate            When was the last time that you took a job wit...
LastInt                 In your most recent successful job interview (...
FizzBuzz                Have you ever been asked to solve FizzBuzz in ...
JobFactors              Imagine that you are deciding between two job ...
ResumeUpdate            Think back to the last time you updated your r...
CurrencySymbol          Which currency do you use day-to-day? If your ...
CurrencyDesc            Which currency do you use day-to-day? If your ...
CompTotal               What is your current total compensation (salar...
CompFreq                 Is that compensation weekly, monthly, or yearly?
ConvertedComp           Salary converted to annual USD salaries using ...
WorkWeekHrs              On average, how many hours per week do you work?
WorkPlan                          How structured or planned is your work?
WorkChallenge           Of these options, what are your greatest chall...
WorkRemote                                How often do you work remotely?
WorkLoc                                   Where would you prefer to work?
ImpSyn                  For the specific work you do, and the years of...
CodeRev                          Do you review code as part of your work?
CodeRevHrs              On average, how many hours per week do you spe...
UnitTests               Does your company regularly employ unit tests ...
PurchaseHow             How does your company make decisions about pur...
PurchaseWhat            What level of influence do you, personally, ha...
LanguageWorkedWith      Which of the following programming, scripting,...
LanguageDesireNextYear  Which of the following programming, scripting,...
DatabaseWorkedWith      Which of the following database environments h...
DatabaseDesireNextYear  Which of the following database environments h...
PlatformWorkedWith      Which of the following platforms have you done...
PlatformDesireNextYear  Which of the following platforms have you done...
WebFrameWorkedWith      Which of the following web frameworks have you...
WebFrameDesireNextYear  Which of the following web frameworks have you...
MiscTechWorkedWith      Which of the following other frameworks, libra...
MiscTechDesireNextYear  Which of the following other frameworks, libra...
DevEnviron              Which development environment(s) do you use re...
OpSys                   What is the primary operating system in which ...
Containers              How do you use containers (Docker, Open Contai...
BlockchainOrg           How is your organization thinking about or imp...
BlockchainIs            Blockchain / cryptocurrency technology is prim...
BetterLife              Do you think people born today will have a bet...
ITperson                 Are you the "IT support person" for your family?
OffOn                         Have you tried turning it off and on again?
SocialMedia                   What social media site do you use the most?
Extraversion              Do you prefer online chat or IRL conversations?
ScreenName                                           What do you call it?
SOVisit1st              To the best of your memory, when did you first...
SOVisitFreq             How frequently would you say you visit Stack O...
SOVisitTo               I visit Stack Overflow to... (check all that a...
SOFindAnswer            On average, how many times a week do you find ...
SOTimeSaved             Think back to the last time you solved a codin...
SOHowMuchTime           About how much time did you save? If you're no...
SOAccount                           Do you have a Stack Overflow account?
SOPartFreq              How frequently would you say you participate i...
SOJobs                  Have you ever used or visited Stack Overflow J...
EntTeams                Have you ever used Stack Overflow for Enterpri...
SOComm                  Do you consider yourself a member of the Stack...
WelcomeChange           Compared to last year, how welcome do you feel...
SONewContent            Would you like to see any of the following on ...
Age                     What is your age (in years)? If you prefer not...
Gender                  Which of the following do you currently identi...
Trans                                     Do you identify as transgender?
Sexuality               Which of the following do you currently identi...
Ethnicity               Which of the following do you identify as? Ple...
Dependents              Do you have any dependents (e.g., children, el...
SurveyLength            How do you feel about the length of the survey...
SurveyEase              How easy or difficult was this survey to compl...

In [32]:
# ConvertedComp so we found that this is the salary , now we will make filter for that

salary_filter = (df['ConvertedComp'] > 300000)
df.loc[salary_filter] 

#suppose we want to concentrate on salary only 

df.loc[salary_filter,'ConvertedComp']

Respondent
6         366420.0
16        455352.0
32       1100000.0
58       2000000.0
102      2000000.0
           ...
88867     412464.0
88868     797436.0
88874    2000000.0
88877    2000000.0
88882     588012.0
Name: ConvertedComp, Length: 3686, dtype: float64

In [34]:
#now we want to filter my Indians brothers and sisters with salary greater than 500000
#defining a new filter

new_filter = (df['ConvertedComp'] > 500000) & (df['Country']=='India')
df.loc[new_filter,['ConvertedComp','Country']]

            ConvertedComp Country
Respondent
9849             554112.0   India
16793           1000000.0   India
22013           2000000.0   India
23683            503736.0   India
28243           2000000.0   India
32536            601690.0   India
42042            587700.0   India
44521            503736.0   India
52561           1000000.0   India
53840            962678.0   India
56055            621276.0   India
64181            671652.0   India
72732           2000000.0   India
76048            559700.0   India
76711            654864.0   India
78265           1000000.0   India
80923           1000000.0   India
81272            503736.0   India
81419            554112.0   India
86603            537324.0   India

In [41]:
#use of isin() method

#now we wqant to filter all those whose salary is greater than 400000 and are from India,United States,Canada,Ukraine

countries = ['India','United States','Canada','Ukraine']

filterrr = (df['ConvertedComp'] > 400000) & (df['Country'].isin(countries))
df.loc[filterrr,['ConvertedComp','Country']]

            ConvertedComp        Country
Respondent
32              1100000.0  United States
58              2000000.0  United States
102             2000000.0  United States
157              960000.0  United States
166             2000000.0  United States
...                   ...            ...
88714            732852.0         Canada
88815           2000000.0  United States
88818           2000000.0  United States
88874           2000000.0  United States
88877           2000000.0  United States

[1605 rows x 2 columns]

In [45]:
#use of str.contains()

#now we are interested in knowing the Programming languages Python is used by how much people
#here is a problem , in out dataset the Languages are seperated with comma or columns and represented as string 

df['LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
3                                                 HTML/CSS
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
88377                        HTML/CSS;JavaScript;Other(s):
88601                                                  NaN
88802                                                  NaN
88816                                                  NaN
88863    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [52]:
#we need to filter only python from this , so we will make a filter with name lang

lang = df['LanguageWorkedWith'].str.contains('Python')
df.loc[lang]

#### In the above we got , ValueError: Cannot mask with non-boolean array containing NA / NaN values

This is because there are some rows in which languages worked with are NaN i.e Bool type , so str.contains is throwing value error.

We can solve this problem by filtering NaN values , passing an argument na=False in contains method

In [51]:
lang = df['LanguageWorkedWith'].str.contains('Python',na=False)    #rewriting my code 
df.loc[lang,['LanguageWorkedWith']]

                                           LanguageWorkedWith
Respondent
1                             HTML/CSS;Java;JavaScript;Python
2                                         C++;HTML/CSS;Python
4                                         C;C++;C#;Python;SQL
5                 C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8           Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
...                                                       ...
84539       Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738         Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566         Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739                C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                              HTML/CSS;JavaScript;Python

[36443 rows x 1 columns]